
<ion-header>
  <ion-toolbar>
    <div class="segment_div">
      <ion-label [class.active]="segId == 1" (click)="onClick(1)">{{util.translate('Current Orders')}}</ion-label>
      <ion-label [class.active]="segId == 2" (click)="onClick(2)">{{util.translate('Past Orders')}}</ion-label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="main_content_div">
    <div class="centent_div" *ngIf="segId == 1">
      <h2 class="ion-text-center" *ngIf="!dummy?.length && !orders?.length">{{util.translate('No Order')}}</h2>

      <ion-item *ngFor="let item of dummy">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <div class="card_div" *ngFor="let item of orders" (click)="goToOrderDetail(item.orderId)">

        <div class="resto_detail">
          <div class="back_image"
            [ngStyle]="{'background-image':'url('+api.mediaURL+item.user_cover+'),url(assets/placeholder.jpg)'}"></div>
          <div style="margin-left: 10px;">
            <ion-label class="res_name">{{item.user_first_name +' '+item.user_last_name}}</ion-label>
            <ion-label class="res_location">{{item.time}}</ion-label>
          </div>

          <div class="order_id">
            <ion-label>{{util.translate('Order ID')}}</ion-label>
            <ion-label>{{item.orderId}}</ion-label>
          </div>
        </div>

        <div class="line_div"></div>

        <div class="order_detail">
          <ion-label class="head_gray">{{util.translate('ITEMS')}}</ion-label>

          <div class="small_lbl">
            <span *ngFor="let order of item.orders;let ol = index">
              <div *ngIf="!order.selectedItem || !order.selectedItem.length" class="border_bottom">
                {{order.name}} X {{order.quantiy}} <span *ngIf="ol !=item.orders.length">,</span>
              </div>

              <div *ngFor="let subItems of order.selectedItem;let j = index" class="subNames">
                <ion-label class="food_title">{{order.name}} X {{order.selectedItem[j].total}}</ion-label>
                <div *ngFor="let addods of subItems.item" class="flex_titles">
                  <p class="sub_name">
                    - {{addods.name}}
                  </p>
                  <p class="sub_name">
                    <span *ngIf="util.cside ==='left'">{{util.currecny}} {{addods.value}}</span>
                    <span *ngIf="util.cside ==='right'"> {{addods.value}} {{util.currecny}}</span>
                  </p>
                </div>
              </div>
            </span>
          </div>
          <ion-label class="head_gray">{{util.translate('ORDERED ON')}}</ion-label>
          <ion-label class="small_lbl">{{item.time}} </ion-label>
          <ion-label class="head_gray">{{util.translate('TOTAL AMOUNT')}}</ion-label>
          <ion-label class="small_lbl" *ngIf="util.cside ==='left'">{{util.currecny}} {{item.grand_total}}</ion-label>
          <ion-label class="small_lbl" *ngIf="util.cside ==='right'"> {{item.grand_total}} {{util.currecny}}</ion-label>

          <ion-label class="payment_status">{{item.pay_method}}</ion-label>
        </div>

      </div>
    </div>

    <div class="centent_div" *ngIf="segId == 2">
      <h2 class="ion-text-center" *ngIf="!dummy?.length && !oldOrders?.length">{{util.translate('No Order')}}</h2>
      <ion-item *ngFor="let item of dummy">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <div class="card_div" *ngFor="let item of oldOrders" (click)="goToOrderDetail(item.orderId)">

        <div class="resto_detail">
          <div class="back_image"
            [ngStyle]="{'background-image':'url('+api.mediaURL+item.user_cover+'),url(assets/placeholder.jpg)'}"></div>
          <div style="margin-left: 10px;">
            <ion-label class="res_name">{{item.user_first_name +' '+item.user_last_name}}</ion-label>
            <ion-label class="res_location">{{item.time}}</ion-label>
          </div>

          <div class="order_id">
            <ion-label>{{util.translate('Order ID')}}</ion-label>
            <ion-label>{{item.orderId}}</ion-label>
          </div>
        </div>

        <div class="line_div"></div>

        <div class="order_detail">
          <ion-label class="head_gray">{{util.translate('ITEMS')}}</ion-label>

          <div class="small_lbl">
            <span *ngFor="let order of item.orders;let ol = index">
              <div *ngIf="!order.selectedItem || !order.selectedItem.length" class="border_bottom">
                {{order.name}} X {{order.quantiy}} <span *ngIf="ol !=item.orders.length">,</span>
              </div>

              <div *ngFor="let subItems of order.selectedItem;let j = index" class="subNames">
                <ion-label class="food_title">{{order.name}} X {{order.selectedItem[j].total}}</ion-label>
                <div *ngFor="let addods of subItems.item" class="flex_titles">
                  <p class="sub_name">
                    - {{addods.name}}
                  </p>
                  <p class="sub_name">
                    <span *ngIf="util.cside ==='left'">{{util.currecny}} {{addods.value}}</span>
                    <span *ngIf="util.cside ==='right'"> {{addods.value}} {{util.currecny}}</span>
                  </p>
                </div>
              </div>
            </span>
          </div>
          <ion-label class="head_gray">{{util.translate('ORDERED ON')}}</ion-label>
          <ion-label class="small_lbl">{{item.time}} </ion-label>
          <ion-label class="head_gray">{{util.translate('TOTAL AMOUNT')}}</ion-label>
          <ion-label class="small_lbl" *ngIf="util.cside ==='left'">{{util.currecny}} {{item.grand_total}}</ion-label>
          <ion-label class="small_lbl" *ngIf="util.cside ==='right'"> {{item.grand_total}} {{util.currecny}}</ion-label>

          <ion-label class="payment_status">{{item.status}}</ion-label>
        </div>

      </div>
    </div>
  </div>
</ion-content>