
<ion-header>
  <ion-toolbar>
    <ion-title>Success</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="success-animation">
    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
      <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
      <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
    </svg>
  </div>

  <h2 class="ion-text-center">Booking Placed successfully</h2>
  <p class="ion-text-center">Thank you for placing Booking with us.. </p>
</ion-content>